* {
  box-sizing: border-box;
}

::selection {
  background-color: #055f5b;
  color: white;
}

html {
  font-family: "Play", sans-serif;
  font-size: 1.3rem;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1::after {
  content: " 👨🏼‍💻";
}

a {
  color: steelblue;
}

a:hover {
  text-decoration: none;
}

body > header {
  padding: 7% 5%;
  background-color: #055f5b;
  text-align: center;
  color: white;
}

body > header > p {
  text-transform: uppercase;
}

body > header > nav a {
  color: deepskyblue;
}
body > header > a:active {
  background-color: steelblue;
}

body > header > nav a + a {
  margin-left: 15px;
}

body > main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5%;
}

body > main > * {
  border-bottom: 2px solid darkgrey;
}

body > main > *:last-child {
  border-bottom: none;
}

article + article {
  margin-top: 5%;
}
