* {
  box-sizing: border-box;
}

::selection {
  background-color: #055f5b;
  color: white;
}

html {
  font-family: "Play", sans-serif;
  /* adjust font-size according to screen size */
  font-size: 24px;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
}
h1::after {
  content: " 👨🏼‍💻";
}

h2 {
  position: relative;
  left: -0.8rem;
}

a {
  color: steelblue;
}

a:hover {
  text-decoration: none;
}

body > header {
  position: relative;
  padding: 2em;
  background-color: #055f5b;
  text-align: center;
  color: white;
}

body > header > p {
  text-transform: uppercase;
}

body > header > nav a {
  color: deepskyblue;
}
body > header > a:active {
  background-color: steelblue;
}

body > header > nav a + a {
  margin-left: 1em;
}

body > main {
  max-width: 70ch;
  margin: 0 auto;
  padding: 5%;
  text-align: justify;
}

body > main > * {
  border-bottom: 2px solid darkgrey;
}

body > main > *:last-child {
  border-bottom: none;
}

article + article {
  margin-top: 5%;
}

.cv-name {
  font-size: 3rem;
}

.cv-name h1 {
  font-size: 1em;
}

.cv-name p {
  font-size: 0.5em;
}

#experience header h3,
#experience header p:first-of-type {
  display: inline;
  padding-inline-end: 10px;
}

.cta {
  /* position: absolute; */
  position: fixed;
  top: 3vh;
  right: 2vw;
  margin: 0;
  background-color: darkorange;
  border-radius: 7px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.cta:hover {
  background-color: chocolate;
}

.cta a {
  display: inline-block;
  padding: 1rem;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}

/* Start Media Queries */

@media print {
  nav {
    display: none;
  }
}
